body {
    font-family: 'Roboto', sans-serif;
    color: #163152;
    font-size: 16px;
    line-height: 24px;

    background-color: #FDFDFF;

    margin: 0;
}

.main-header {
    width: 1170px;
    margin: 0 auto 40px;
    padding: 20px 55px;
}

.main-nav {
    display: flex;
    align-items: center;
}

.main-nav .logo {
    width: 64px;
    margin-right: auto;
    height: 68px;
}

.main-navigation {
    max-width: 990px;
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
}

.main-navigation-item {
    margin-right: 30px;
}

.main-navigation-item:last-child {
    margin-right: 0;
}

.main-navigation-item a {
    color: #163152;
    font-size: 14px;
    line-height: 18px; 
    text-transform: uppercase;
    text-decoration: none;
}


.main-nav .signin {
    
    width: 36px;
    height: 36px;
    margin-left: 40px;
    
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #00C6BD;
    border-radius: 50%;
}

.main-content {
    width: 1170px;
    padding-left: 55px;
    padding-right: 55px;
    margin: 0 auto;
}

.hero {
    margin-bottom: 120px;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 70px;

    font-size: 44px;
    line-height: 60px;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
}

.hero-image {
    display: block;
}

.blog-article {
    width: 1030px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
}

.blog-article-1 {
    margin-bottom: 100px;
}

.blog-article-2 {
    margin-bottom: 120px;
    flex-direction: row-reverse;
}

.blog-article-content {
    width: 400px;
}

.blog-article p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.blog-article-title {
    margin-top: 10px;
    margin-bottom: 35px;
}

.blog-article-image {
    width: 600px;
}

p.blog-article-date {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    margin-top: 0;
}

.title {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;

    text-decoration: underline;
    text-decoration-color: #00C6BD;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
}

.rent {
    margin-bottom: 120px;
}

.rent-title {
    margin-top: 0;
    margin-bottom: 55px;
}

.cards {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card {
    width: 310px;
    padding: 30px;
    font-size: 14px;
    box-shadow: 0px 4px 30px 0px rgba(22, 49, 82, 0.12);
}

.card img {
    display: block;
    margin-bottom: 21px;
}

.card-title {
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 23px;
}

.card-description {
    margin-top: 0;
    margin-bottom: 15px;
}

.card-features {
    padding: 0;
    margin: 0;
    margin-bottom: 29px;
    margin-left: 18px;
    list-style: none;
}

.card-features-item {
    margin-bottom: 4px;
    position: relative;
    line-height: 19px;
}

.card-features-item:last-child {
    margin-bottom: 0;
}

.card-features-item::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #163152;
    border-radius: 50%;
    top: 6px;
    left: -19px;
}

.card-price {
    color: #163152;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    
    margin: 0;
    display: flex;
    justify-content: space-between;
}

/* Галерея */

.gallery {
    margin-bottom: 120px;
}

.gallery-title {
    text-align: center;

    margin-top: 0;
    margin-bottom: 55px;
}

.gallery-container {
    display: flex;
}

.active-image {
    width: 970px;
    margin-right: 30px;
    display: block;
}

.gallery-list {
    width: 170px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.gallery-list-item {
    margin-bottom: 30px;
}

.gallery-list-item:last-child {
    margin-bottom: 0;
}

.gallery-list-item a {
    position: relative;
    display: block;
}

.gallery-list-item a::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0;
    background-color: rgba(253, 253, 255, 0.5);
}

.gallery-list-item.active a::before {
    background: transparent;
}

.gallery-list-item img {
    display: block;
}

.news {
    font-size: 18px;
    line-height: 26px;

    width: 770px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
}

.news-title {
    text-align: center;

    margin-top: 0;
    margin-bottom: 55px;
}

.news-item-img {
    font-size: 16px;
    color: #8693A4;
    line-height: 19px; 

    margin: 0;
    margin-bottom: 33px;
}

.news-item-img img {
    display: block;
    margin-bottom: 17px;
}

.news-item h3 {
    font-size: 22px;

    margin-top: 33px;
    margin-bottom: 27px;
}

.news-item p {
    margin-top: 12px;
    margin-bottom: 12px;
}

.news-item h4 {
    font-size: 20px;

    margin-top: 24px;
    margin-bottom: 15px;
}

.news-item ul {
    margin-top: 24px;
    margin-bottom: 30px;
    padding-left: 19px;
    list-style: none;
}

.news-item li {
    margin-bottom: 8px;
    position: relative;
}

.news-item li::before {
    content: "";
    position: absolute;
    top: 9px;
    left: -19px;
    width: 9px;
    height: 9px;
    background-color: #163152;
    border-radius: 50%;
}

.news-item ins {
    text-decoration: none;
  }

.news-item blockquote {
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
    margin-top: 38px;
    margin-bottom: 30px;
    padding-left: 20px;
    border-left: 2px solid #00C6BD;
}

.news-item-footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.news-footer-column {
    display: flex;
    width: 500px;
}

.autor-image {
    border-radius: 50%;
    margin-right: 15px;
    display: block;
}

p.news-item-meta {
    margin: 0;
    padding-top: 7px;
}

.news-item-meta time {
    display: block;
    margin-top: 9px;
}

.news-item-share {
    margin-top: 21px;
}

.news-item-share:hover {
    opacity: 0.5;
} 

.news-item-share:active {
    opacity: 0.3;
} 

.news-item-footer time {
    color: #8693A4;
    font-size: 16px;
    line-height: 19px
}

.news-item-meta a {
    color: #163152;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-decoration: none;
}

.contacts {
    width: 1170px;

    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.contacts-column {
    width: 400px;
    padding-top: 50px;
}

.contacts-title {
    margin-top: 0;
    margin-bottom: 35px;
}

.contacts-map {
    width: 670px;
}

.contacts-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.contacts-list h3,
.contacts-list address {
    display: inline;
}

.contacts-list-item {
    line-height: 22px;
    margin-bottom: 15px;
}

.contacts-list-item h3 {
    font-size: 16px;
    margin-right: 10px;
}

.contacts-list-item a {
    color: #163152;
    text-decoration: none;
}

.contacts-list-item address {
    font-style: normal;
}

.social-list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.social-list-item {
    margin-right: 15px;
}

.social-icon {
    width: 40px;
    height: 40px;
}

.social-list-item:last-child {
    margin-right: 0;
}

.main-footer {
    font-size: 10px;
    line-height: 12px; 
    
    padding: 60px 0;
    margin-top: 120px;
    border-top: 1px solid rgba(22, 49, 82, 0.1);
}

.main-footer-wrapper {
    width: 1170px;
    margin: 0 auto;
    padding: 0 55px;

    display: flex;
    justify-content: space-between;
}

.main-footer-column {
    width: 175px;
}

.footer-logo {
    width: 100px;
    height: 106px;
    margin: 0;
    margin-bottom: 30px;
}

.privacy-policy,
.copyright {
    margin-top: 8px;
    margin-bottom: 8px;
}

.privacy-policy a {
    color: #163152;
    text-decoration: none;
}

.footer-navigation-topics {
    font-size: 14px;
    line-height: 16px;

    width: 870px;
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    justify-content: space-between;
}

.footer-navigation-topic {
    width: 165px;
  }

.footer-navigation-topic h2 {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 20px;
}

.footer-navigation {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-navigation-item {
    margin-bottom: 13px;
}

.footer-navigation-item:last-child {
    margin-bottom: 0;
}


.footer-navigation-item a {
    color: #163152;
    text-decoration: none;
}

a:hover {
    color: rgba(22, 49, 82, 0.5);
    cursor: pointer;
}

a:active {
    color: rgba(22, 49, 82, 0.3);
}

.icon:hover {
    opacity: 0.5;
} 

.icon:active {
    opacity: 0.3;
} 